:root {
	--primary: #023859;
	--dark-gray: #9fa4ad;
	--light: #EFEFEF;
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@import url("https://use.typekit.net/fwo4yqm.css");
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

* {
	display: relative;
}

body {
	font-family: soleil, Lato, futura, sans-serif;
	font-style: normal;
}

header {
	width: 100%;
	margin: auto;
	text-align: center;
}

main {
	width: 80%;
	margin: auto;
	padding-bottom: 150pt;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

p {
	font-weight: 300;
	font-size: 16pt;
	line-height: 28pt;
}

section {
	display: none;
}

.section.active {
	display: block;
}

.section.active ul {
	display: block;
	width: 100%;	
	max-width: 100%;
}

section>img {
	width: 200pt;
	height: 200pt;
	border-radius: 50%;
	float: left;
	margin: 20pt; 
	margin-left: 0pt;
	shape-outside: circle(50%);
}

.modal-backdrop {
	background-color: none;
	opacity: 1;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0pt;
}

.enlarged-screen-shot {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 90%;
	max-width: 90%;
	filter: drop-shadow(0 0 0.75rem var(--dark-gray));
}

.portfolio-item {
	width: 100%;
	max-width: 100%;
	padding: 20pt;
	border-bottom: solid;
	border-color: var(--light);
	border-width: 1px;
	padding: 20pt 0pt;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.portfolio-item>a>img {
	display: inline;
	width: 25vw;
	height: 25vw;
	margin-right: 20pt;
	border-radius: 6pt;
}


.item-title, .item-description {
	padding: 10pt 0pt;
	font-size: 18pt;
}

.item-title {
	font-weight: bolder;
}

.item-description {
	display: inline;
	font-size: 14pt;
	line-height: 20pt;
	padding: 0pt;
	justify-content: left;
}

.name-hero {
	text-transform: lowercase;
	color: var(--primary);
	font-size: 28pt;
	font-weight: bolder;
	margin: 40pt 0pt;
}

.item-text {
	left: 40%;
	max-width: 60%;
	margin-bottom: 10pt;
}

.item-text>a {
	display: block;
	margin-top: 20pt;
}

.item-text>a>img {
	width: 50%;
}

.item-badges {
	display: block;
	margin-top: 10pt;
}

.portfolio-badge {
	display: inline;
	text-decoration: none;
	text-align: center;
	font-size: 8pt;
	font-weight: lighter;
	background-color: var(--primary);
	color: var(--light);
	flex: 1 1 50pt;
	padding: 4pt 8pt;
	border-radius: 16pt;
	margin-right: 10pt;
}

p>a {
	text-decoration: none;
	color: tint(#023859, 20%);
}

p>a:hover {
	color: shade(#023859, 20%);
	text-decoration: underline;
}

p>a:active {
	color: shade(#023859, 60%);
}

a.portfolio-link {
	display: flex;
	flex-direction:row;
	text-transform: uppercase;
    justify-content: center;
	width: 50%;
	text-decoration: none;
	padding: 10pt;
	border-style: solid;
	border-width: 1pt;
	border-radius: 5pt;
	color: var(--primary);
	border-color: var(--primary);
	transition: all 0.25s;
	transition-property: color, border-color, background-color;
	transition-timing-function: ease-in-out;
}

a.portfolio-link>span {
	margin-right: 10pt;
}

a.portfolio-link:hover {
	background-color: var(--primary);
	color: #FFF;
}

a.portfolio-link:active {
	background-color: shade(#023859, 30%);
	border-color: shade(#023859, 40%);
}

img.screen-shot-thumbnail {
	max-height: 128pt;
	margin-top: 20pt;
	border: solid 1pt;
	border-color: var(--light);
	border-radius: 2pt;
	padding: 4pt;
}

/* Nav styles */
nav {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: between;
	margin: auto;
	margin-bottom: 30pt;
}

nav>a {
	color: var(--primary);
	text-align: center;
	flex: 1;
	font-size: 26pt;
	font-weight: lighter;
	text-decoration: none;
	padding: 10pt;
	padding-bottom: 20pt;
	margin: 0pt 20pt;
}


.nav-link.active {
	border-bottom: solid;
	border-width: 2pt;
	border-color: var(--primary);
	stroke-linecap: round;
}


/* footer styles */
.footer-text {
	color: var(--dark-gray);
	font-weight: lighter;
	font-size: 12pt;
	line-height: 18pt;
	text-transform: lowercase;
}

.twitter::before {
	@extend %fa-icon;
	@extend .fab;
	content: fa-content($fa-var-twitter);
	display: block;
}

.instagram::before {
	@extend %fa-icon;
	@extend .fab;
	content: fa-content($fa-var-instagram);
	display: block;
}

.youtube::before {
	@extend %fa-icon;
	@extend .fab;
	content: fa-content($fa-var-youtube);
	display: block;
}

.github::before {
	@extend %fa-icon;
	@extend .fab;
	content: fa-content($fa-var-github);
	display: block;
}


footer {
	position: fixed;
	bottom: 0pt;
	text-align: center;
	padding-bottom: 20pt;
	padding-top: 10pt;
	width: 100%;
	height: 75pt;
	background-color: none;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

footer div a {
	flex: 1;
	color: var(--dark-gray);
	text-decoration: none;
	font-size: 10pt;
	padding: 10pt;
	transition: color 0.5s;
	transition-timing-function: ease-in-out;
	&:before {
		display: block;
		font-size: 30pt;
		margin-bottom: 5pt;
	}
}

footer div a:hover {
	color: var(--primary);
}

div.footer-links {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: between;
}


